{% extends 'base.html' %}
{% load static %}

{% block title %}
Home employees page
{% endblock title %}

{% block contect %}
{% include 'includes/header.html' %}

<!-- Inicio de la página de portada -->


<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
        <div class="orbit-controls">
            <img src="../../static/img/20.jpg" style="width: 100%" alt="">
            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        </div>
        <!-- <ul class="orbit-container">
            <li class="is-active orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="{% static 'img/20.jpg' %}" alt="Space">
                    <img class="orbit-image" src="../../static/img/20.jpg" alt="Space">
                    <figcaption class="orbit-caption">Pozo del Tigre</figcaption>
                </figure>
            </li>
            <li class="orbit-slide">
                <figure class="orbit-figure">
                    <img class="orbit-image" src="{% static 'img/30.jpg' %}" alt="Space">
                    <img class="orbit-image" src="../../static/img/30.jpg" alt="Space">
                    <figcaption class="orbit-caption">Salsipuedes</figcaption>
                </figure>
            </1i>
        </u1> -->
    </div>
</div>

<!-- Fin de la página de portada -->


<!-- Bloque de Bienvenida -->

<div class="grid-x align-center">
    <center>
        <h1 class="cell large 8" style="font-size: 20px; text-align:center;">BIENVENIDO AL SISTEMA DE REGISTRO DE EMPLEADOS</h1>
        <div class="cell large 7">
            <div class="callout success">
                <h5>Registra y Controla Empleados</h5>
                <p>De manera eficaz y confiable, basandose en algoritmos nuevos y más eficientes</p>
                <a href="">Ver Empleados</a>
            </div>
        </div>
    </center>
</div>

<!-- Fin del Bloque de Bienvenida -->

{% endblock contect %}    